body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

#board {
    background-color: white;
}

#player {
    width: 40px;
    height: 54px;
    position: absolute;
    background-image: url('./assets/img/player/888.png');
    transform: scale(1);
    background-size: 600px auto; /* Ajustez selon la taille de votre spritesheet */
}