body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

#map {
    width: 800px;
    height: 600px;
    position: relative;
    border: 2px solid black;
    margin: 0 auto;  /* Pour centrer la map */
    background-color: #fff;
}

#player {
    width: 42px;
    height: 50px;
    position: absolute;
    background-image: url('./assets/img/player/888.png');
    transform: scale(1);
    background-size: 600px auto; /* Ajustez selon la taille de votre spritesheet */
}

#bot {
    width: 32.5px;
    height: 50px;
    position: absolute;
    background-image: url('./assets/img/player/badbomber.png');
    transform: scale(1);
    background-size: 400px auto;
}

